<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script>
  window.addEventListener("load", (event) => {
    const loader = document.getElementById("loader-out");
    setTimeout(function () {
      loader.style.opacity = "0";
      setTimeout(function () {
        loader.style.display = "none";
      }, 500);
    }, 500);
  });
</script>
