<div
  class="chat__messaging messaging-member--online pb-2 pb-md-2 pl-2 pl-md-4 pr-2">
  <div class="chat__infos pl-2 pl-md-0">
    <div class="chat-member__wrapper" data-online="true">
      <div class="chat-member__avatar">
        <img
          src="{{ url_for('static', filename='/imgs/urian-viera.jpg') }}"
          alt="Urian Viera"
          loading="lazy" />
        <div class="user-status user-status--large"></div>
      </div>
      <div class="chat-member__details">
        <span class="chat-member__name">Dev - Urian Viera</span>
        <span class="chat-member__status">Conectado</span>
      </div>
    </div>
  </div>
</div>
